<head>
  <meta charset="utf-8">
  <title>Cats!!</title>
  <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>All about Cats</header>
    <nav>
        <a href="/">Home Page</a>
        <a href="/dogs">Dog Page</a>
        <a href="/cats">Cat Page</a>
        <a href="/ninjas">Ninja Page</a>
        <a href="/pirates">Pirate Page</a>
    </nav>

    <img src="https://lh4.googleusercontent.com/-VOzsqDcGqDY/AAAAAAAAAAI/AAAAAAAACVQ/pNmQ-wxPahM/photo.jpg">
    <img src="https://www.math.ku.edu/~wsanders/Kittens/new%20kittens/Cute-little-kittens-550x365.jpg">
    <img src="http://www.awesomelycute.com/gallery/2013/09/super-cute-kitten-2268.jpg">
    <img src="/images/pussNboots.jpg">
    <iframe width="560" height="315" src="//www.youtube.com/embed/LI7-Cu-9wWM" frameborder="0" allowfullscreen></iframe>

    <footer>
       <small>(c) Cats</small>
    </footer>
  </body>
</html>
